/* left side style  */
.main-blog {
  place-items: center;
  .title {
    margin-top: -15px;
    width: 95%;
    /* margin: 0 auto; */
    h1 {
      font-size: 1.2rem;
    }
  }
}
/* middle side style  */
.last-newes {
  overflow-y: scroll;
  max-height: 210px;
  .last-news {
    a {
      p {
        font-size: 0.9rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* right side style  */
.blogs-type-1 {
  height: 100%;
}
.blog-type-1 {
  article {
    .title {
      width: 60%;
      h6 {
        font-size: 0.9rem;
      }
    }
    .image {
      width: 40%;
    }
  }
  hr {
    width: 95%;
    border: 0;
    border-bottom: 3px solid peru;
  }
}
