/* .my-section > * {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
} */
.main-blog {
  padding: 4px;
  display: grid;
  place-items: center;
  .title {
    margin-top: -15px;
    width: 88%;
    /* margin: 0 auto; */
    display: block;
    h1 {
      padding-top: 7px;
      background-color: white;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

.blogs-type-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.blog-type-1 {
  /* border-bottom: 3px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  article {
    display: flex;

    .title {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      h6 {
        font-size: 0.9rem;
      }
    }
    .image {
      width: 40%;
    }
  }
  hr {
    width: 95%;
    border: 0;
    border-bottom: 3px solid peru;
  }
}
